{% extends 'layout.html' %}

{% block title %}
{% endblock %}

{% block body %}

<hr class="divider-w">
<section class="module-small">
  <div class="container row">
  <div id="message_flashed"></div>

  <h3> Etat {{ nameEtat }}</h3>

<div class="row">
            <div class="col-lg-6" style="max-height: 700px; max-width: 700px">


                <canvas id="canvas" width="697" height="348" style="display: block; width: 697px; height: 348px;"></canvas>
                <script>


        var datapoints = [0, 20, 20, 60, 60, 120, NaN, 180, 120, 125, 105, 110, 170];
		var config = {
            type: 'line',
            data: {
                labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
                datasets: [{
                    label: "Cubic interpolation (monotone)",
                    data: datapoints,
                    borderColor: 'rgb(255,00,00)',
					backgroundColor: 'rgba(255, 0, 0, 0)',
                    fill: false,
					cubicInterpolationMode: 'monotone'
                }, {
                    label: "Cubic interpolation (default)",
                    data: [0, 20, 20, 60, 120, NaN, 180, 120, 125, 105, 110, 170],
                    borderColor:'rgb(255,00,255)',
					backgroundColor: 'rgba(255, 0, 0, 0)',
                    fill: false,
                }, {
                    label: "Linear interpolation",
                    data: datapoints,
                    borderColor: 'rgb(255,255,00)',
					backgroundColor: 'rgba(255, 0, 0, 0)',
                    fill: false,
					lineTension: 0
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Chart.js Line Chart - Cubic interpolation mode'
                },
                tooltips: {
                    mode: 'index'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            suggestedMin: -10,
                            suggestedMax: 200,
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };

        document.getElementById('randomizeData').addEventListener('click', function() {
			for (var i = 0, len = datapoints.length; i < len; ++i) {
				datapoints[i] = Math.random() < 0.05 ? NaN : randomScalingFactor();
			}
            window.myLine.update();
        });

    </script>




            </div>
{% if nameEtat %}
<div class="col-lg-6">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nom du produit</th>
                      <th scope="col">Nombre de clic</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for histo in history %}

                          <tr>
                              <th scope="row">{{ histo.id_vetement }}</th>
                              <td><a href="/admin/type-article/bilan-vetement/{{ histo.id_vetement }}">{{ histo.libelle_vetement }}</a></td>
                              <td>{{ histo.nb }}</td>
                          </tr>
                  {% endfor %}
                  </tbody>
                </table>



            </div>
{% endif %}


            </div>
</div>


  </div>
</section>

{% endblock %}