{% extends 'layout.html' %}

{% block title %}
{% endblock %}

{% block body %}

<h2 class="text-center pt-5 mt-5">Bienvenue dans le panel des états</h2>
<h4 class="text-center ">Cliquez sur l'état que vous souhaitez consulter</h4>
    <div class="container text-center">
        <a href="/admin/type-article/bilan-stock"><button class="btn btn-primary">Stock</button></a>
        <a href="/admin/type-article/bilan-wishlist"><button class="btn btn-primary">Wishlist/Historique</button></a>
        <a href="/admin/type-article/bilan-adresse-cp"><button class="btn btn-primary">Adresse</button></a>
        <a href="/admin/type-article/bilan-com"><button class="btn btn-primary">Commentaires</button></a>
    </div>
{% endblock %}