<nav class="navbar navbar-custom navbar-fixed-top bg-dark" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Juju Design</a>
      </div>
      <div class="collapse navbar-collapse" id="custom-collapse" style="text-align: center;">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/client/article/show">Tous nos articles</a>
          </li>
            <li class="nav-item"><a class="nav-link" href="/client/commande/show">Vos commandes</a></li>
            <li class="nav-item"><a class="nav-link" href="/client/wishlist/show"><span class="icon-heart" aria-hidden="true" style="color: white;"></span></a></li>
          <li class="nav-item"><a class="nav-link" href="/client/panier/show"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-cart" viewBox="0 0 16 16"><path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg></a></li>
          <li class="nav-item"><div><a style="color : black; margin-top:8px;" class="nav-link btn btn-g btn-round btn-block pt-2" href="/logout" role="button">Se deconnecter</a></div></li>
        </ul>
      </div>
    </div>
  </nav>