{% extends 'layout.html' %}

{% block title %}
    Panier
{% endblock %}

{% block body %}
<div class="main">
<div id="message_flashed"></div>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt">PANIER</h1>
              </div>
            </div>
            <hr class="divider-w pt-20">

          {% if articles %}

              <div class="row">
                  <div class="col-sm-12">
                      <table class="table table-striped table-border checkout-table">
                          <tbody>
                          <tr>
                              <th class="hidden-xs">Produit</th>
                              <th>Description</th>
                              <th>Taille</th>
                              <th class="hidden-xs">Prix</th>
                              <th>Quantité</th>
                              <th>Total</th>
                              <th>Enlever</th>
                          </tr>


                          {% for article in articles %}
                              <tr>
                                  <td class="hidden-xs"><a href="#"><img src="/static/assets/images/produit{{ article.id_vetement }}.png" alt="{{ article.libelle_vetement }}"/></a></td>
                                  <td>
                                      <h5 class="product-title font-alt"><a href="/client/article/details/{{ article.id_vetement }}">{{ article.libelle_vetement }} {{ article.libelle_marque }}</a></h5>
                                  </td>
                                  <td>
                                      {{ article.libelle_taille }}
                                  </td>
                                  <td class="hidden-xs">
                                      <h5 class="product-title font-alt">{{ article.prix_vetement }}€</h5>
                                  </td>
                                  <td>
                                      <form action="/client/panier/modif/">
                                          <input type="hidden" name="taille" value="{{ article.id_taille }}">
                                          <input type="hidden" name="id" value="{{ article.id_vetement }}">
                                          <input class="form-group" type="number" name="quantite" value="{{ article.quantite }}" max="50" min="1"/>
                                          <button>V</button>
                                      </form>

                                  </td>
                                  <td>
                                      <h5 class="product-title font-alt">{{ article.somme_article }}€</h5>
                                  </td>
                                  <td class="pr-remove"><a href="/client/panier/delete?id={{ article.id_vetement }}&taille={{ article.id_taille }}" title="Enlever"><i class="fa fa-times"></i></a></td>
                              </tr>
                          {% endfor %}

                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">

                  </div>
              </div>
              <hr class="divider-w">
              <div class="row mt-10">
                  <div class="col-sm-7">
                      <h4 class="font-alt">Ajouter une adresse :</h4>
                      <form action="/client/panier/ajout_adresse" class="form" method="post">
                          <input class="form-control" type="text" name="ligne1" placeholder="Ligne 1"><br>
                          <input class="form-control" type="text" name="ligne2" placeholder="Ligne 2"><br>
                          <input class="form-control" type="text" name="ville" placeholder="Ville"><br>
                          <input class="form-control" type="text" name="CP" placeholder="Code Postal"><br>
                          <input class="form-control" type="text" name="pays" placeholder="Pays"><br>
                          <button class="btn btn-lg btn-block btn-round btn-d" type="submit">Ajouter l'adresse</button>
                      </form>
                  </div>
                  <div class="col-sm-5">
                      <div class="shop-Cart-totalbox">
                          <h4 class="font-alt">Total du panier</h4>
                          <table class="table table-striped table-border checkout-table">
                              <tbody>
                              <tr>
                                  <th>Sous-total du panier :</th>
                                  <td>{{ prix_total.somme }} €</td>
                              </tr>
                              <tr>
                                  <th>Frais de livraison :</th>
                                  <td>{{ prix_total.quantite }} € </td>
                              </tr>
                              <tr class="shop-Cart-totalprice">
                                  <th>Total :</th>
                                  <td>{{ prix_total.total }} €</td>
                              </tr>
                              </tbody>
                          </table>
                          <form action="/client/panier/commander" method="post">
                              <h4 class="font-alt">Choix de l'adresse</h4>

                                  <select name="adresse" required>
                                    {% if adresses %}
                                  {% for adresse in adresses %}
                                      <option value="{{ adresse.id_adresse }}">{{ adresse.ligne_adresse }} {{ adresse.ligne_2_adresse }} {{ adresse.ville_adresse }}, {{ adresse.ville_adresse }} {{ adresse.cp_adresse }}, {{ adresse.pays_adresse }}</option>
                                  {% endfor %}

                                  {% else %}
                                  <option value="">Veuillez ajouter une adresse</option>
                                        {% endif %}
                                  </select>


                              <button class="btn btn-lg btn-block btn-round btn-d" type="submit">Valider et commander</button>
                          </form>
                      </div>
                  </div>
              </div>

              {% else %}

              <h3 class="text-center">Il n'y a rien ici ! Et si vous ajoutiez des articles au panier ?</h3>
          {% endif %}

          </div>
        </section>

{% endblock %}